.section {
    margin: 10px;
    padding: 20px;
    border: 1px solid #333333;
    border-radius: 10px;
    max-height: 65vh; /* Set the maximum height */
    overflow-y: auto; /* Add a vertical scrollbar if needed */
}

.bottom-section {
    padding: 10px;
}

.message {
    display: flex;
}

p {
    border-radius: 10px;
    background-color: hsl(240, 9%, 25%);
    padding: 10px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#comment-input {
    width: 90vw;
    background-color: hsl(240, 9%, 25%);
    border: 1px solid hsl(240, 9%, 25%);
    height: 30px;
    border-radius: 5px;
    padding: 10px;
}

/* Media query for smaller screens */
@media (max-width: 1100px) {
    #comment-input {
        width: 87.5vw; /* Adjust the width for smaller screens */
    }
}

/* Media query for even smaller screens */
@media (max-width: 900px) {
    #comment-input {
        width: 80vw; /* Adjust the width for even smaller screens */
    }
}


.btn {
    width: 6vw;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    background-color: #FF8800;
    border: 1px solid #FF8800;
}

/* Media query for smaller screens */
@media (max-width: 900px) {
    .btn {
        width: 10vw; /* Adjust the width for smaller screens */
    }
}

/* Media query for even smaller screens */
@media (max-width: 500px) {
    .btn {
        width: 10vw; /* Adjust the width for even smaller screens */
    }
}


.btn:hover {
    color: whitesmoke;
}

a {
    text-decoration: none;
}
